@page "/access-denied"

<div class="text-center">
	<img src="https://media.tenor.com/QJ9HxK1sJwYAAAAj/frye-stare.gif" class="rounded" alt="Access Denied !" width="300px">
</div>
<div class="text-center">
	<img src="https://www.psdstamps.com/wp-content/uploads/2022/04/access-denied-stamp-png.png" class="rounded" alt="Access Denied !" width="500px">
</div>
@code {

}
